{% set shop_billing_data = hookable_metadata.context.resource.shopBillingData %}

{% if shop_billing_data.countryCode %}
    <span class="flag flag-sm flag-country-{{ shop_billing_data.countryCode|lower }} me-2"></span>
{% endif %}
