<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    colors="true"
    bootstrap="vendor/sylius/test-application/config/bootstrap.php"
>
    <testsuites>
        <testsuite name="sylius_invoicing_plugin_test_suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="error_reporting" value="-1" />

        <env name="APP_ENV" value="test"/>
        <env name="SHELL_VERBOSITY" value="-1" />

        <server name="KERNEL_CLASS" value="Tests\Sylius\InvoicingPlugin\Application\Kernel" />
    </php>
</phpunit>
