<div class="card mb-3">
    <div class="card-header">
        <div class="card-title">
            {{ 'sylius_invoicing_plugin.ui.invoices'|trans }}
        </div>
    </div>
    <table class="table table-borderless align-middle mb-0">
        {% hook 'table' %}
    </table>
</div>
