<td>
    <a href="{{ path('sylius_invoicing_plugin_admin_invoice_show', {'id': hookable_metadata.context.invoice.id}) }}" class="text-decoration-none">{{ hookable_metadata.context.invoice.number }}</a>
</td>
