{% set _seller = block('seller') %}
{% set _buyer = block('buyer') %}

<html lang="{{ localeCode }}">
<head>
    <meta charset="utf-8">

    <style>
        * {
            line-height: 18px;
            font-size: 12px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #1a1a1a;
        }

        body {
            margin: 0;
        }

        h1, h2, h3, h4, h5, h6 {
            font-weight: bold;
            margin: 0;
        }

        h1 {
            font-size: 17px;
            margin-bottom: 21px;
        }

        h2 {
            font-size: 16px;
            margin-bottom: 18px;
        }

        h3 {
            font-size: 15px;
            margin-bottom: 15px;
        }

        h4 {
            font-size: 14px;
            margin-bottom: 12px;
        }

        h5 {
            font-size: 13px;
            margin-bottom: 9px;
        }

        h6 {
            font-size: 12px;
            margin-bottom: 6px;
        }

        table.layout {
            width: 100%;
            max-width: 1000px;
            margin: 0 auto;
            border-spacing: 10px;
        }

        table.layout tr {
            vertical-align: top;
        }

        .data table {
            width: 100%;
            border-spacing: 0;
        }

        .data table tr th {
            background-color: #e8e8e8;
            -webkit-print-color-adjust: exact;
            padding: 6px 10px;
            text-align: left;
            font-weight: bold;
        }

        .data table tr td {
            padding: 6px 10px;
            border-bottom: 1px solid #e8e8e8;
        }

        .info-box {
            width: 50%;
            border: 2px solid #e8e8e8;
            padding: 14px;
        }

        .spacer {
            height: 14px;
        }

        .text-center {
            text-align: center !important;
        }

        .text-right {
            text-align: right !important;
        }

        .border-0 {
            border: 0 !important;
        }

        .bg-gray {
            background-color: #f5f5f5;
            -webkit-print-color-adjust: exact;
        }
    </style>
</head>
<body>
    <table class="layout">
        <tr>
            <td>
                <img width="160" src="{{ logoPath }}">
            </td>
            <td class="text-right">
                {% block header %}{% endblock %}
            </td>
        </tr>
        <tr>
            <td class="spacer"></td>
        </tr>
        <tr>
            {% if _buyer is not empty %}
                <td class="info-box">
                    {{ _buyer|raw }}
                </td>
            {% endif %}
            {% if _seller is not empty %}
                <td class="info-box">
                    {{ _seller|raw }}
                </td>
            {% endif %}
        </tr>
        <tr>
            <td class="spacer"></td>
        </tr>
        <tr>
            <td colspan="2">
                <h1 class="text-center">
                    {% block title %}{% endblock %}
                </h1>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="data">
                    {% block data %}{% endblock %}
                </div>
            </td>
        </tr>
    </table>
</body>
</html>
