<a class="fw-medium" href="{{ path('sylius_invoicing_admin_order_show_by_number', {'number' : data })|raw }}" data-bs-toggle="tooltip" data-bs-title="{{ 'sylius.ui.show_order_details'|trans }}">#{{ data }}</a>
